/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.logo img {
  width: 80px;
  height: 80px;
  border: 1px solid #333;
  border-radius: 110px;
}

nav ul {
  padding: 10px;
  list-style: none;
  display: flex;
  gap: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

/* Welcome Section */
.welcome {
  text-align: center;
  margin: 20px 0;
  font-size: larger;
}

.image-placeholder {
  width: 1366px;
  height: 578px;
  background-color: #ddd;
  margin: 20px auto;
}

/* Headquarter Section */
.headquarter {
  text-align: center;
  margin: 50px 0;
}

.locations {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.location {
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
}

#anggota {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Message Us Section */
.message {
  padding: 50px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  padding: 10px;
  border: px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

form textarea {
  resize: vertical;
  height: 100px;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 320px;
}

.submitted-data {
  border: 1px solid black;
  margin-top: 20px;
  width: 400px;
  height: 200px;
}

/* Footer */
footer {
  text-align: right;
  padding: 20px;
  background-color: #f0f0f0;
  position: relative;
  bottom: 0;
  width: 100%;
}

hr {
  height: 3px;
  border-width: 0;
  color: black;
  background-color: black;
}
